@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary-dark: #2d3e4e;
  --color-primary-medium: #5c6d63;
  --color-primary-light: #f5f3e8;
  --color-accent-orange: #e26d5a;
  --color-accent-yellow: #e9c46a;
  --color-accent-blue: #87b2c0;
  --color-accent-green: #a7b691;

  --animate-fade-in: fadeIn 0.2s ease-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --font-comfortaa: "Comfortaa", cursive;
  --font-poppins: "Poppins", sans-serif;
}
